D2_BACKEND_HOST=127.0.0.1
D2_BACKEND_PORT=3197
D2_BACKEND_DATA_DIR=/srv/d2-wealth/shared/data
D2_APP_REDIRECT_URI=https://d2r.bjav.io
DISCORD_REDIRECT_URI=https://d2r.bjav.io/auth/discord/callback
D2_COOKIE_SECURE=true
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
